
body {
    font-family: Tahoma, sans-serif;
    font-size: 19px;
    background-color: #ffd966;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 25px;
    color: white;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    color: black;

}
th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: left;
}
thead th {
    background-color: gray;
    font-weight: bold;
    color: black;
}
form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"],
form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
button {
    background-color: lightblue;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    margin-top: 2px;
}

form {
    max-width: 400px;
    margin: 50px auto;
}